<h2>Ajouter un abonnement</h2>
<form (ngSubmit)="ajouterAbonnement()" #formAbonnement="ngForm" class="abonnement-form">

  <div class="form-row">
    <label>Nom</label>
    <input type="text" name="nom" [(ngModel)]="nouvelAbonnement.nom" required />
  </div>

  <div class="form-row">
    <label>Montant (€)</label>
    <input type="number" name="montant" [(ngModel)]="nouvelAbonnement.montant" required />
  </div>

  <div class="form-row">
    <label>Fréquence</label>
    <input type="text" name="frequence" [(ngModel)]="nouvelAbonnement.frequence" placeholder="ex: Mensuel" required />
  </div>

  <div class="form-row">
    <label>Date de début</label>
    <input type="date" name="date" [(ngModel)]="nouvelAbonnement.dateDebut" required />
  </div>

  <button type="submit" [disabled]="formAbonnement.invalid">Ajouter</button>
</form>
