<h2>Ajouter une dépense</h2>
<form (ngSubmit)="ajouterDepense()" #formDepense="ngForm" class="depense-form">

  <div class="form-row">
    <label>Catégorie :</label>
    <input type="text" name="categorie" [(ngModel)]="nouvelleDepense.categorie" required />
  </div>

  <div class="form-row">
    <label>Description :</label>
    <input type="text" name="description" [(ngModel)]="nouvelleDepense.description" required />
  </div>

  <div class="form-row">
    <label>Montant (€) :</label>
    <input type="number" name="montant" [(ngModel)]="nouvelleDepense.montant" required />
  </div>

  <div class="form-row">
    <label>Date :</label>
    <input type="date" name="date" [(ngModel)]="nouvelleDepense.date" required />
  </div>

  <button type="submit" [disabled]="formDepense.invalid">Ajouter</button>
</form>
