<div class="calendar">
  <div class="calendar-header">
    <button (click)="previousMonth()">«</button>
    <h3>📅 Calendrier – {{ getMonthName() | titlecase }} {{ currentYear }}</h3>
    <button (click)="nextMonth()">»</button>
  </div>

  <div class="calendar-grid">
    <div class="day-name" *ngFor="let d of ['L', 'M', 'M', 'J', 'V', 'S', 'D']">{{ d }}</div>

    <div 
      class="day"
      *ngFor="let d of daysInMonth"
      [class.today]="d?.isToday"
    >
      <span *ngIf="d">
        {{ d.day }}
        <span 
          class="dot" 
          *ngIf="d.abonnement" 
          [ngStyle]="{ 'background-color': d.color }"
        ></span>
      </span>
    </div>
  </div>
</div>

<div class="calendar-legend" *ngIf="abonnementsGroupesParJour.length > 0">
  <div *ngFor="let groupe of abonnementsGroupesParJour">
    <span 
      class="legend-point" 
      [ngStyle]="{ 'background-color': groupe.color }"
    ></span>
    <strong>{{ getDayFromDate(groupe.date) }} {{ getMonthName() }}</strong> :
    prélèvements
    <span *ngFor="let abo of groupe.abonnements; let isLast = last">
      <strong>{{ abo.nom }}</strong> ({{ abo.montant | number:'1.2-2' }} €)
      <button (click)="supprimerAbonnement(abo.id)" class="delete-btn">❌</button>
      <span *ngIf="!isLast">, </span>
    </span>
  </div>
</div>

