<div class="header">
  <h1>💸 Budget Tracker</h1>
  <p>Tracker de Dépenses & Abonnements</p>
  <button class="btn-primary" (click)="toggleFormulaire()">Ajouter une dépense</button>
  <button class="btn-primary" (click)="toggleFormulaireAbonnement()">➕ Ajouter un abonnement</button>

</div>

<!-- Modal pour ajouter une dépense -->
<div *ngIf="afficherFormulaire" class="modal-backdrop">
  <div class="modal">
    <div class="modal-content">
      <span class="close" (click)="toggleFormulaire()">×</span>
      <app-ajouter-depense></app-ajouter-depense>
    </div>
  </div>
</div>

<!-- Modal pour ajouter un abonnement -->
<div *ngIf="afficherFormulaireAbonnement" class="modal-backdrop">
  <div class="modal">
    <div class="modal-content">
      <span class="close" (click)="toggleFormulaireAbonnement()">×</span>
      <app-ajouter-abonnement></app-ajouter-abonnement>
    </div>
  </div>
</div>

<div class="content">
  <div class="left-column">
    <h2>Liste des dépenses</h2>
    <app-depense-list></app-depense-list>
  </div>

  <div class="divider"></div> <!-- ligne séparatrice -->

  <div class="right-column">
    <h2>Répartition / Abonnements</h2>
    <button (click)="toggleCalendrier()">🗓️ Afficher les abonnements à venir</button>
    <app-graphique-repartition *ngIf="!afficherCalendrier"></app-graphique-repartition>
  </div>
</div>